<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.meta.title|default('small red tile') }}</title>
    
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock css %}
</head>
<body>
    
    {% set menu_items = [
        ('/index.html', 'index', 'home'),
        ('/about.html', 'about', 'about'),
        ('/consulting.html', 'consulting', 'consulting'),
        ('/blog', 'blog', 'blog'),
        ('/contact.html', 'contact', 'contact'),
        ('https://github.com/marcpare?tab=repositories', 'github', 'github')
      ] -%}
    {% set active_page = page.meta.active_page|default('index')-%}

    {% if active_page != "index" %}
      <h2 class="title-small"><span id="tile"></span>small red tile</h2>
    {% endif %}

    <div class="left">      
      <ul class="menu">
      {% for href, id, caption in menu_items %}
        <li {% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>
    </div>
    
<div class="container">
{% block content %}
    <p>Content goes here</p>
{% endblock content %}
</div>

</body>
</html>