<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.meta.title|default('small red tile') }}</title>
    
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    {% endblock css %}
    <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}" />
</head>
<body>
    
    {% set menu_items = [
        ('/index', 'index', 'home'),
        ('/portfolio', 'portfolio', 'portfolio'),
        ('/blog', 'blog', 'blog'),
        ('/mission', 'mission', 'mission'),
        ('/contact', 'contact', 'contact'),
        ('https://github.com/marcpare?tab=repositories', 'github', 'github')
      ] -%}
    {% set active_page = page.meta.active_page|default('index')-%}

    {% if active_page != "index" %}
      <h2 class="title-small"><span id="tile"></span>small red tile</h2>
    {% endif %}

    <div class="left">    
      <ul class="menu">
      {% for href, id, caption in menu_items %}
        <li {% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>

      <!--
      <div class="rss"><a href="/atom.xml">RSS</a></div>
      -->
    </div>
    
<div class="container">
{% block content %}
    <p>Content goes here</p>
{% endblock content %}
</div>

{% if page.meta.active == 'index' %}
<div class="footer footer-index">
{% else %}
<div class="footer">
{% endif %}  
<!--
  <div class="footer-separator">
  {% for number in range(7) %}<span class="fs-{{ number }}"></span>{% endfor %}
  </div>
  -->
  <!--
  <div class="footer-content">
  <p>What's a <em>small red tile</em>?</p>
  <p>
    
    It's a reminder that in the mosaic of society, the tiniest detail can change everything, that progress is the sum of contributions of many people, and that small is beautiful. 
  </p>
  <p><span id="tile"></span></p>
  </div>
    -->
</div>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{% block analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43189862-2', 'smallredtile.com');
  ga('send', 'pageview');
</script>
{% endblock analytics %}

</body>
</html>