{% extends "base.html" %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="gutter-right">
    
    <h1><span id="tile"></span>small red tile</h1>
    <h2>software development for web ventures</h2>
    <h3>by Marc Paré</h3>
    
     <p>I am a generalist developer with an emphasis on the web.</p>

     <p>Commonly, I work with startup founders and CEOs to translate product vision into working software.</p>
   
     <p>I work primarily in Javascript and Python.</p>
     
    <h3>Major accomplishments</h3>
  
    <ul>
      <li>designed and built a web product prototype responsible for a major angel investment (a 10x ROI on services)</li>
      <li>conceived and built an online digital narrative that won Microsoft's Imagine Cup against thousands of international competitors
      
      <a href="/portfolio#mic"><img class="padded" width=437 src="/static/images/index/mdg_cropped.png" alt="" /></a>
      </li>
      <li>built a prototype interactive online training course for the World Bank's IFC, to be piloted across Southeast Asia
      
      <a href="/portfolio/#ifc"><img class="padded" width=438 src="/static/images/index/ifc_cropped.png" alt="" /></a>
      </li>
    </ul>
  
    <p>Further details about each of these projects (and more) can be found on my <a href="/portfolio">portfolio</a> page.</p>  
  
    <h3>A Unique Background</h3>
  
    <p>I have been building front-ends and web applications for startups, research labs, and large institutions for the last five years.</p>
  
    <p>Before that, I trained in competitive algorithm programming (World Finalist in the 2008 ACM ICPC), which gives me insight into the back-end functionality of web apps as well as very sharp coding skills under time pressure.</p>

    <p>If it sounds like I could help your next big idea, please <a href="/contact">get in touch.</a></p>
  
    <p>Be sure to check out my <a href="/portfolio">work samples</a>.</p>
    
    </div>
  </div>
  
  <div class="pure-u-1-2">
    <img width="500" src="/static/images/speechifying.jpg"></img>
    <div class="pure-g">
      <div class="pure-u-1">
          <h4 class="notes-header">Notes</h4>
      </div>
      <div class="pure-u-1-2">
        <div class="gutter-right">
        <h4>Investigation</h4>
        
        {% macro entry(name) -%}
        <div class="entry">
          <a href="/posts/{{ name }}">{{ posts['posts/'+name].title }}</a>
          {{ caller() }}
        </div>
        {%- endmacro %}
        
        {% call entry('20140705-panorama') %}
          <img src="/static/images/20140705-pano-tiny.jpg">
        {% endcall %}
        
        {% call entry('20140514-safe') %}
          <p>Exploring the popular and idiosyncratic programming language.</p>
        {% endcall %}
        
        {% call entry('20140104-flower') %}
          <img width=220 src="/static/images/index/flowers_cropped.png" alt="" />
        {% endcall %}
        
        {% call entry('20131120-wbtbuddytechnical') %}
        {% endcall %}
      
        {% call entry('20131102-emacs') %}
        {% endcall %}
        
        {% call entry('20131029-yak') %}
        {% endcall %}
        
        {% call entry('20131023-battery') %}
        {% endcall %}
        
        {% call entry('20131020-backbone') %}
        {% endcall %}
        
        {% call entry('20131026-todomvc') %}
        {% endcall %}

        {% call entry('20140407-grepawesome') %}
        {% endcall %}
        
        </div>
      </div>
      <div class="pure-u-1-2">
        <h4>Exploration</h4>
        
        {% call entry('20140408-functional') %}
          <p>Echoes of Javascript while reading Borges.</p>
        {% endcall %}
        
        {% call entry('20131105-dante') %}
          <p>...and what it can teach us about UI design</p>
        {% endcall %}

        {% call entry('20131104-rasmus') %}
        {% endcall %}

        {% call entry('20131103-dyptych') %}
        {% endcall %}

        {% call entry('20131029-bird') %}
        {% endcall %}

        {% call entry('20131027-sharkandminnow') %}
        {% endcall %}

        {% call entry('20131026-norman') %}
        {% endcall %}

        {% call entry('20131022-dore') %}
        {% endcall %}        
        
        {% call entry('20131018-kentaro') %}
        {% endcall %}
        
        <div class="entry">
          <a href="http://www.ricehusk.cc">ricehusk.cc</a>
          <p>Communicating engineering design with gifs, blogs, and Github</p>
          <img width=220 src="http://www.ricehusk.cc/img/day7/grassburnmed.gif" alt="" />
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}